/*--------------------------------------------------------------
# Widget style
--------------------------------------------------------------*/
ul.aop-widget-repetable-field-items li.aop-widget-accordion-item .accordion-content,
ul.aop-widget-repetable-field-items li.aop-widget-accordion-item .accordion-title {
    padding:8px 10px;
    border:1px solid #e5e5e5;
    background-color: #aaa;
    border-top:none
}
ul.aop-widget-repetable-field-items li.aop-widget-accordion-item .accordion-title .dashicons {
    float:right;
    margin-top:-3px
}
ul.aop-widget-repetable-field-items li.aop-widget-accordion-item .accordion-content {
    display:none
}
ul.aop-widget-repetable-field-items li.aop-widget-accordion-item .accordion-content.active {
    display:block
}

/*--------------------------------------------------------------
# customizer layout animated border style
--------------------------------------------------------------*/
#aop-img-container .aop-radio-img-img {
	border: 3px solid #DEDEDE;
	margin: 0 5px 5px 0;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#aop-img-container .aop-radio-img-selected {
	border: 3px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=checkbox]:before {
	content: '';
	margin: -3px 0 0 -4px;
}


/*--------------------------------------------------------------
# Admin input
--------------------------------------------------------------*/
.aop-admin-input-wrap {
    margin-top: 15px;
}

.aop-admin-input-wrap:last-child {
    margin-bottom: 15px;
}

.aop-admin-input-wrap a {
    text-decoration: none;
}

.aop-admin-input-wrap label {
    font-weight: bold;

    display: inline-block;

    width: 96px;

    float: left;

    margin-top: 12px;
}

.aop-admin-input-wrap input[type='text'],
.aop-admin-input-wrap input[type='email'],
.aop-admin-input-wrap input[type='number'],
.aop-admin-input-wrap input[type='phone'],
.aop-admin-input-wrap input[type='password'],
.aop-admin-input-wrap input[type='url'],
.aop-admin-input-wrap input[type='number'],
.aop-admin-input-wrap select,
.aop-admin-input-wrap textarea {
    width: calc( 100% - 104px );
    padding: 8px 10px;

    box-shadow: none;
}

.aop-admin-input-wrap select,
.aop-admin-input-wrap input[type='number'] {
    height: 38px;
}

.aop-admin-input-wrap img {
    max-width: calc( 100% - 115px );
    height: auto;
    margin-bottom: 15px;

    border: 6px solid #fff;
    box-shadow: 0 0 1px #ccc;
}

.aop-custom-media-button {
    margin: 0 96px;
    padding: 8px 20px;

    cursor: pointer;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;


    border: 2px dashed #ddd;
    border-radius: 3px;
    outline: none !important;
    background: #fdfdfd;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
    color: #888;
}

.aop-custom-media-button:hover {
    border-color: #888;
    color: #555;
}

.aop-admin-radio-wrap {
    margin-top: -30px;
    padding-left: 102px;
}

.aop-admin-slider-wrap,
.aop-admin-logos-wrap {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-top: 15px;
    background: #fdfdfd;
}

.aop-admin-slider-wrap:last-child,
.aop-admin-logos-wrap:last-child {
    margin-bottom: 15px;
}

.aop-admin-testimonials {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.aop-admin-testimonials textarea {
    min-height: 100px;
}



/**
*   Styles for Customizer elements
*/

.wp-full-overlay-sidebar:after {
    background: #dcdfe3;
    width: 1px;
}

.wp-full-overlay-sidebar {
    background: #eef0f2;
    border-right: 0;
}

#customize-theme-controls .accordion-section-title {
    background: #eef0f2;
    border-bottom: 0;
    padding: 10px 0 10px 20px;
    transition: all .25s ease;
}

#customize-theme-controls .accordion-section-title:hover,
#customize-theme-controls .accordion-section-title:focus {
    background: #fdfdfe !important;
}

#customize-theme-controls .accordion-section-title:after {
    color: rgba(39,48,57,.4);
    font-size: 16px;
    top: 12px;
}

.expanded .wp-full-overlay-footer,
#customize-header-actions,
.customize-controls-close {
    border-color: #dcdfe3;
}

.customize-panel-back {
    height: 71px;
    border-right: 1px solid #eef0f2;
    border-bottom: 1px solid #eef0f2;
    background: #fff !important;
}

#customize-controls a {
    background: transparent;
    border: 0;
}

#customize-controls a:hover {
    background: #fdfdfe;
}

#customize-controls .customize-info {
    border: 0;
}

#customize-controls .customize-info .preview-notice strong {
    font-weight: 500;
}

#customize-controls .customize-info .customize-help-toggle {
    display: none;
}

.wp-core-ui .button-primary,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
    color: rgba(39,48,57,.6 )!important;
    background: #fff!important;
    border-color: transparent !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    border-radius: 20px;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.wp-core-ui .button-primary {
    color: rgba(39,48,57,.8 )!important;
}

/* Image Upload
----------------------------------
*/
.customize-control .thumbnail-image {
    padding: 8px;
    margin: 10px 4px;
    background: #fff;
    box-shadow: 0 0 4px rgba(39,48,57,.4);
}

.customize-control .thumbnail-image img {
    border-radius: 0;
}

.customize-control-image .remove-button,
.customize-control-image .upload-button {
    color: rgba(39,48,57,.85 )!important;
    background: #fff!important;
    border-color: transparent !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
    border-radius: 20px;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.customize-control-image .remove-button {
    width: 110px;
}

.customize-control-image .upload-button {
    width: 140px;
}

.wp-core-ui .button-primary[value="Save & Publish"],
.media-modal-content .media-frame-toolbar .media-button-select,
.wp-core-ui .button-primary:hover,
.customize-control-image .remove-button:hover,
.customize-control-image .upload-button:hover {
    color: #fff !important;
    background: #3498db !important;
}

#customize-theme-controls .control-section-themes {
    display: none !important;
}

#customize-controls .customize-info {
    margin-bottom: 10px;
}

.customize-control-title,
#customize-theme-controls .accordion-section-title {
    font-size: 13px;
}

.customize-control {
    margin-bottom: 10px;
}

.customize-control .wp-color-result {
    border: 1px solid #ccc !important;
    /*background: transparent !important;*/
}

.customize-control .wp-color-result:after {
    background: #fff;
}

/* Check Box
----------------------------------
*/
.customize-control-checkbox label {
    margin-left: 0;
}

.dt-checkbox-label {
    width: calc(100% - 48px);
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 600;
}

.customize-control.customize-control-checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.dt-on-off-switch {
    display: inline-block;
    position: relative;
    width: 36px;
    margin-top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.dt-on-off-switch-checkbox {
    display: none;
}

.dt-on-off-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 14px;
    padding: 0;
    line-height: 14px;
    border: 2px solid #a0acb9;
    border-radius: 14px;
    background-color: #a0acb9;
}

.dt-on-off-switch-label:before {
    content: "";
    display: block;
    width: 14px;
    margin: 0;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18px;
    border: 2px solid #a0acb9;
    border-radius: 14px;
    transition: all .15s ease-in-out;
}

.dt-on-off-switch-checkbox:checked + .dt-on-off-switch-label {
    background-color: #3498db;
}

.dt-on-off-switch-checkbox:checked + .dt-on-off-switch-label,
.dt-on-off-switch-checkbox:checked + .dt-on-off-switch-label:before {
    border-color: #3498db;
}

.dt-on-off-switch-checkbox:checked + .dt-on-off-switch-label:before {
    right: 0;
}

/* Form Elements
----------------------------------
*/
.customize-control select,
.customize-control input[type="text"],
.customize-control input[type="email"],
.customize-control input[type="number"],
.customize-control input[type="url"],
.customize-control input[type="search"],
.customize-control input[type="tel"],
.customize-control input[type="password"],
.customize-control input[type="date"],
.customize-control textarea,
.dt-customize-description {
    display: block;
    box-shadow: none;
    border: 1px solid #dcdfe3;
    width: 98%;
    padding: 6px 8px;
    height: auto;
}

.dt-customize-description {
    background: #fff;
    width: 92%;

}

/* Font Size
----------------------------------
*/
.dt-customizer-font {
    display: block;
}

.dt-customizer-font input[type="number"]{
    width: 60px;
    display: inline-block;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #dcdfe3;
}

.dt-customizer-font input[type="range"]{
    width: calc(100% - 70px);
    height: 12px;
    display: inline-block;
    -webkit-appearance: none;
    margin: 10px 0;
    background: transparent;
}

.dt-customizer-font input[type=range]:focus {
    outline: none;
}

.dt-customizer-font input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #a0acb9;
    border-radius: 5px;
    border: 1px solid #a0acb9;
}

.dt-customizer-font input[type=range]::-webkit-slider-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

.dt-customizer-font input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a0acb9;
}

.dt-customizer-font input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #a0acb9;
    border-radius: 5px;
    border: 1px solid #a0acb9;
}

.dt-customizer-font input[type=range]::-moz-range-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
}

.dt-customizer-font input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.dt-customizer-font input[type=range]::-ms-fill-lower {
    background: #a0acb9;
    border: 1px solid #a0acb9;
    border-radius: 10px;
}

.dt-customizer-font input[type=range]::-ms-fill-upper {
    background: #a0acb9;
    border: 1px solid #a0acb9;
    border-radius: 10px;
}

.dt-customizer-font input[type=range]::-ms-thumb {
    border: 1px solid #617080;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #617080;
    cursor: pointer;
}

.dt-customizer-font input[type=range]:focus::-ms-fill-lower {
    background: #a0acb9;
}

.dt-customizer-font input[type=range]:focus::-ms-fill-upper {
    background: #a0acb9;
}

/* Layout
----------------------------------
*/
.awesome-one-page-layout-title {
    font-weight: bold;
}


.awesome-one-page-checked {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background: yellow;
}


/* Theme Color
----------------------------------
*/
#customize-control-awesome_one_page_theme_color input[type="radio"] {
    display:none;
}

#customize-control-awesome_one_page_theme_color input[type="radio"] + label {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    float: left;
    margin: 0 15px 15px 0;
    font-size: 0;
    padding: 0;
}

#customize-control-awesome_one_page_theme_color label .awesome-one-page-radio-color {
    margin-top: -20px;
    width: 48px;
    height: 48px;
    background: #666;
    display: block;
    position: relative;
    border-radius: 3px;
}

.awesome-one-page-color-checked {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 0 0 0 3px;
}

.awesome-one-page-color-checked:after {
    position: absolute;
    content: '\f147';
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    font-size: 18px;
    font-family: 'dashicons';
}

#customize-control-awesome_one_page_theme_color input[type="radio"]:checked + label {
    box-shadow: 0 0 0 3px #fff;
    border-radius: 3px;
}

#customize-control-awesome_one_page_theme_color input[type="radio"]:checked + label .awesome-one-page-color-checked {
    display: block;
}

#customize-control-awesome_one_page_theme_color label[for="default"] .awesome-one-page-radio-color {
    background: url("../images/default.png");
}

#customize-control-awesome_one_page_theme_color label[for="watermelon"] .awesome-one-page-radio-color {
    background: url("../images/watermelon.png");
}

#customize-control-awesome_one_page_theme_color label[for="red"] .awesome-one-page-radio-color {
    background: url("../images/red.png");
}

#customize-control-awesome_one_page_theme_color label[for="orange"] .awesome-one-page-radio-color {
    background: url("../images/orange.png");
}

#customize-control-awesome_one_page_theme_color label[for="yellow"] .awesome-one-page-radio-color {
    background: url("../images/yellow.png");
}

#customize-control-awesome_one_page_theme_color label[for="lime"] .awesome-one-page-radio-color {
    background: url("../images/lime.png");
}

#customize-control-awesome_one_page_theme_color label[for="green"] .awesome-one-page-radio-color {
    background: url("../images/green.png");
}

#customize-control-awesome_one_page_theme_color label[for="mint"] .awesome-one-page-radio-color {
    background: url("../images/mint.png");
}

#customize-control-awesome_one_page_theme_color label[for="teal"] .awesome-one-page-radio-color {
    background: url("../images/teal.png");
}

#customize-control-awesome_one_page_theme_color label[for="sky-blue"] .awesome-one-page-radio-color {
    background: url("../images/sky-blue.png");
}

#customize-control-awesome_one_page_theme_color label[for="blue"] .awesome-one-page-radio-color {
    background: url("../images/blue.png");
}

#customize-control-awesome_one_page_theme_color label[for="purple"] .awesome-one-page-radio-color {
    background: url("../images/purple.png");
}

#customize-control-awesome_one_page_theme_color label[for="pink"] .awesome-one-page-radio-color {
    background: url("../images/pink.png");
}

#customize-control-awesome_one_page_theme_color label[for="magenta"] .awesome-one-page-radio-color {
    background: url("../images/magenta.png");
}

#customize-control-awesome_one_page_theme_color label[for="plum"] .awesome-one-page-radio-color {
    background: url("../images/plum.png");
}

#customize-control-awesome_one_page_theme_color label[for="maroon"] .awesome-one-page-radio-color {
    background: url("../images/maroon.png");
}

/* Help & Supports
----------------------------------
*/
.dt-customizer-supports {
    font-size: 14px;
    line-height: 1.6em;
}

.dt-customizer-supports li {
    display: block;
}

.dt-customizer-supports li a {
    display: inline-block;
    background: transparent;
    padding: 5px 10px;
    color: #3498db;
}

.dt-customizer-supports li a:hover {
    background: transparent !important;
    color: #2784c3;
}

.dt-customizer-stars {
    color: #e7b906;
}


